<footer id="page-footer">
  <p>
    Copyright &copy; 2015</br>
    Contact: <a href="mailto:hazukitran@gmail.com">hazukitran@gmail.com</a></br>
    <%= link_to "Github", "https://github.com/hazukitran" %>
  </p>
</footer>